.container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;;
    grid-template-rows: 12vw 1fr 1fr 1fr 1fr;
    grid-template-areas:
        "head1 head1 head1 head1"
        "buttons buttons buttons buttons"
        "banner banner list list"
        "solutions solutions solutions solutions"
        "solutions solutions solutions solutions" 
}

.headers{
    grid-area: head1;
    place-self: center;    
}

#topheader{
    padding-left: 15vw;
    font-family: sans-serif;
}

#newbetter{

    position:relative;
    font-family: sans-serif;

}

.buttons{
    grid-area: buttons;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.btnbgblue{
    border: 1px solid blue;
    border-radius: 10%;
    background-color: blue;
    height: auto;
    width: 5.95vw;
}

.banner{
    grid-area: banner;
    justify-self: end;
}

.list{
    grid-area: list;
}

.solutions{
    grid-area: solutions;
    display:grid;
    grid-template-columns: 1fr 1fr;;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas:
    "head2 head2"
    "ED TM"
    "AN PC"
}   

.solutions > h4{
    grid-area: head2;
    justify-content: center;
}

.ED{
    grid-area: ED;
    /* display: flex; */
    justify-self: center;
}

.TM{
    grid-area: TM;
    justify-self: center;
}

.AN{
    grid-area: AN;
    justify-self: center;
}
 
.PC{
    grid-area:PC;
    justify-self: center;
}

.icons{
    position: relative;
    bottom: 250px;
    right: 246px;
}